.FtcoNavbarLight {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 3;

    .navbar-brand {
        color: #fff; 
        &:hover {
            color: #000000
        }
    }

    .navbar-nav {
        & > .nav-item {
            & > .nav-link {
                font-size: 16px;
                padding-top: .9rem;
                padding-bottom: .9rem;
                padding-left: 20px;
                padding-right: 20px;
                color: #fff;
                font-weight: 400;
                opacity: 1 !important; 
                &:hover {
                    color: #fdab44; 
                }
                &.active {
                    color: rgba(255, 255, 255, 0.5); 
                }
            }
            .dropdown-menu {
                border: none;
                background: #fff;
                -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
                -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
                box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); 
            }

            &.cta {
                & > a {
                    color: #fff;
                    border: 1px solid #206dfb;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-top: 4px;
                    background: #206dfb;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    border-radius: 5px; 

                    span {
                        display: inline-block;
                        color: #fff; 
                    }

                    &:hover {
                        color: #fff;
                        background: #206dfb;
                        border: 1px solid #206dfb; 
                    }
                }
                &.cta-colored {
                    a {
                        border: 1px solid #fdab44;
                        background: #fdab44 !important; 
                    }
                }
            }

        }
    }

    .navbar-toggler {
        border: none;
        color: rgba(255, 255, 255, 0.5) !important;
        cursor: pointer;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em; 
        &:hover, &:focus {
            text-decoration: none;
            color: #206dfb;
            outline: none !important; 
        }
    }

    &.scrolled {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        margin-top: -130px;
        background: #fff !important;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); 

        .nav-item {
            .active > a {
                color: #206dfb !important; 
            }

            &.cta {
                & > a {
                    color: #fff !important;
                    background: #206dfb;
                    border: none !important;
                    padding-top: 0.5rem !important;
                    padding-bottom: .5rem !important;
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                    margin-top: 6px !important;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    border-radius: 5px; 
    
                    span {
                        display: inline-block;
                        color: #fff !important; 
                    }
                }
                &.cta-colored span {
                    border-color: #206dfb; 
                }
            }
        }

        .navbar-toggler {
            border: none;
            color: rgba(0, 0, 0, 0.5) !important;
            border-color: rgba(0, 0, 0, 0.5) !important;
            cursor: pointer;
            padding-right: 0;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: .1em; 
        }

        .nav-link {
            padding-top: 0.9rem !important;
            padding-bottom: 0.9rem !important;
            color: #000000 !important;
            &.active {
                color: #206dfb !important;
            }
        }

        &.awake {
            margin-top: 0px;
            -webkit-transition: .3s all ease-out;
            -o-transition: .3s all ease-out;
            transition: .3s all ease-out; 
        }

        &.sleep {
            -webkit-transition: .3s all ease-out;
            -o-transition: .3s all ease-out;
            transition: .3s all ease-out; 
        }

        .navbar-brand {
            color: #000000; 
        }

    }
}


@media (max-width: 991.98px) {
    .FtcoNavbarLight.scrolled .nav-item > .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important; 
    } 

    .FtcoNavbarLight.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; 
    } 

    .FtcoNavbarLight .navbar-nav > .nav-item.ftco-seperator:before {
        display: none; 
    } 

    .FtcoNavbarLight .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        color: rgba(255, 255, 255, 0.7); 
    }

    .FtcoNavbarLight .navbar-nav > .nav-item > .nav-link:hover {
        color: #fff; 
    } 

    .FtcoNavbarLight .navbar-nav > .nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0; 
    } 

    .FtcoNavbarLight {
        background: #000000 !important;
        position: relative;
        top: 0; 
    } 
    .FtcoNavbarLight .navbar-brand {
        color: #fff; 
    } 
    .FtcoNavbarLight .navbar-nav {
        padding-bottom: 10px; 
    } 
}