.menuWrapper {
    display: none !important;
}
@media screen and (max-width: 1024px) {
    .menuWrapper {
        display: block !important;
    }
    .menuWrapper1 {
        right: 10px;
    }
    .sidebar1 {
    left: 0px !important;
    }
    .sidebar2 {
    left: -260px !important;
    }
}
