.menuWrapper {
    display: none !important;
}
@media screen and (max-width: 1024px) {
    .menuWrapper {
        display: block !important;
    }
    .menuWrapper1 {
        right: 10px;
    }
    .sidebar1 {
    left: 0px !important;
    }
    .sidebar2 {
    left: -260px !important;
    }
    .overlay1 {
        display: block;
        background-color: #00000067;
        z-index: 1;
    }
    .overlay2 {
        display: none;
    }
}
