.Portfolio {
    margin-bottom: 25px;
}

.PortfolioImage {
    background-image: url('https://giantbomb1.cbsistatic.com/uploads/scale_small/7/74829/1389239-180754_untitled_1.png');
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.PortfolioTitle {
    background-color: #343a40;
    color: #ffffcf;
    text-align: center;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PortfolioTitle p {
    margin: 0;
    padding: 5px;
}